html {
  display: block;
}

header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.logo {
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}


nav {
  display: block;
}

body {
  color: black;
  margin: 0;
  font-family: "Georgia";
  font-size: 15px;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

div {
  border: 1px solid black;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  margin: 0 auto 78px auto;
  width: 100%;
  padding-top: 116px;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: row;
  margin-right: 32px;
  justify-content: space-between;
}

column.large {
  width: 630px;
  flex-direction: column;
}

column.medium {
  width: 300px;
  flex-direction: column;
}

column.small {
  width: 240px;
  flex-direction: column;
}
