/* Universal */
body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

/* Header */
nav span {
  display: inline-block;
  padding: 20px 10px;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 14px;
  font-family: "verdana", sans-serif;
  z-index: 1;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: mediumaquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

/* main content */




/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: "verdana", sans-serif;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  border-right: 2px solid white;
  color: white;
  padding-right: 25px;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
